{% extends "layout.html" %} {% block content %}
<div class="song_input">
  <form action=" " method="post">
    <div class="song_input_fields">
      <input
        class="song_input_text"
        type="text"
        name="song_name"
        placeholder="Enter a song that you already like"
      />
    </div>
    <div class="song_input_fields">
      <input class="song_input_submit" type="submit" value="Search" />
    </div>
  </form>
</div>
{% block recsong %} {% endblock %}
<div class="topsongs">
  <h2 class="toptitle">Top Picks</h2>
  <div class="topsong">
    <div class="container">
      {% for element in topsongs[0:8] %}
      <li>{{ element[:45] }}</li>
      {% endfor %}
    </div>
    <div class="container">
      {% for element in topsongs[8:16] %}
      <li>{{ element[:45] }}</li>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
