{% extends "layout.html" %} {% block content %}
<div class="teamspage">
    <div class="container">
        <div class="card">
            <div class="bg-image">
                <img src="{{ url_for('static', filename='card-bg.jpg') }}" alt="">
            </div>
            <div class="pic">
                <img src="{{ url_for('static', filename='pic3.jpg') }}" alt="">
            </div>
            <div class="info">
                <h3>Kartikey Khanna</h3>
                <!-- <span><i class="fas fa-code"></i>Web</span> -->
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nulla.</p> -->
                <div class="icons">
                    <a href="https://www.linkedin.com/in/kartikeykhanna/" class="fab fa-linkedin"></a>
                    <a href="https://twitter.com/itsksquare19" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/itsksquare/" class="fab fa-instagram"></a>
                    <a href="https://github.com/itsksquare" class="fab fa-github"></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="bg-image">
                <img src="{{ url_for('static', filename='card-bg.jpg') }}" alt="">
            </div>
            <div class="pic">
                <img src="{{ url_for('static', filename='pic5.jpg') }}" alt="">
            </div>
            <div class="info">
                <h3>G.Hemanth Sai</h3>
                <!-- <span><i class="fas fa-code"></i>Web</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nulla.</p> -->
                <div class="icons">
                    <a href="https://www.linkedin.com/in/hemanthsai3187/" class="fab fa-linkedin"></a>
                    <a href="https://twitter.com/HemanthSai3187" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/hemanth_sai_7/" class="fab fa-instagram"></a>
                    <a href="https://github.com/HemanthSai7" class="fab fa-github"></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="bg-image">
                <img src="{{ url_for('static', filename='card-bg.jpg') }}" alt="">
            </div>
            <div class="pic">
                <img src="{{ url_for('static', filename='pic4.jpg') }}" alt="">
            </div>
            <div class="info">
                <h3>Ashish Vats</h3>
                <!-- <span><i class="fas fa-code"></i>Web</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nulla.</p> -->
                <div class="icons">
                    <a href="https://www.linkedin.com/in/ashish-vats-88b19b209/" class="fab fa-linkedin"></a>
                    <a href="https://twitter.com/ashish58462360" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/ashish__11_/  " class="fab fa-instagram"></a>
                    <a href="https://github.com/Ashish1-cell " class="fab fa-github"></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="bg-image">
                <img src="{{ url_for('static', filename='card-bg.jpg') }}" alt="">
            </div>
            <div class="pic">
                <img src="{{ url_for('static', filename='pic2.jpg') }}" alt="">
            </div>
            <div class="info">
                <h3>Palak Garg</h3>
                <!-- <span><i class="fas fa-code"></i>Web</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nulla.</p> -->
                <div class="icons">
                    <a href="https://www.linkedin.com/in/palak-garg-007/" class="fab fa-linkedin"></a>
                    <a href="https://twitter.com/PalakGa17365579?t=Bn6DjhoAz3zWmkiY-t6Cgg&s=08" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/palakgarg07/" class="fab fa-instagram"></a>
                    <a href="https://github.com/palakgarg007" class="fab fa-github"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
